<%- include("../../components/header") %>

   <section class="ncvt-login-section">
      <div class="container">
         <div class="row g-4">
            <div class="col-3">
               <div class="new-admission-box">
                  <p><a href="admission">NEW ADMISSION</a></p>
               </div>
            </div>
            <div class="col-3">
               <div class="new-admission-box">
                  <p><a href="add-payments">ADD MONEY </a></p>
               </div>
            </div>
            <div class="col-3">
               <div class="new-admission-box">
                  <p><a href="view-admission">VIEW ADMISSION</a></p>
               </div>
            </div>
            <div class="col-3">
               <div class="new-admission-box">
                  <p><a href="view-request_certificates">VIEW CERTIFICATE REQUESTS</a></p>
               </div>
            </div>
            <div class="col-3">
               <div class="new-admission-box">
                  <p><a href="passed_student">PASSED STUDENTS</a></p>
               </div>
            </div>
            <div class="col-3">
               <div class="new-admission-box">
                  <p><a href="student_request">STUDENTS CERTIFICATE</a></p>
               </div>
            </div>
            <div class="col-3">
               <div class="new-admission-box">
                  <p><a href="view-transictions">VIEW  TRANSICTIONS</a></p>
               </div>
            </div>
         </div>
      </div>



   </section>




   <%- include("../../components/footer") %>