<%- include("../../components/header") %>

<section class="ncvt-login-section">
  <div class="container">
    <div class="row">
      <div class="col-3">
         <div class="new-admission-box">
                  <a href="admission">NEW ADMISSION</a>
         </div>
      </div>
      <div class="col-3">
         <div class="new-admission-box">
                  <a href="add-payments">ADD MONEY </a>
         </div>
      </div>
      <div class="col-3">
         <div class="new-admission-box">
                  <a href="view-admission">VIEW ADMISSION</a>
         </div>
      </div>
      <div class="col-3">
         <div class="new-admission-box">
                  <a href="view-request_certificates">VIEW CERTIFICATE REQUESTS</a>
         </div>
      </div>
      <div class="col-3">
         <div class="new-admission-box">
                  <a href="passed_student">PASSED STUDENTS</a>
         </div>
      </div>
      <div class="col-3">
         <div class="new-admission-box">
                  <a href="student_request">STUDENTS CERTIFICATE</a>
         </div>
      </div>
    </div>
  </div>



</section>




  <%- include("../../components/footer") %>