<%- include("../../components/header") %>
  <section class="ncvt-login-section pt-5 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class=" add-payments-box">
            <div class="add-payments-head d text-center mb-5">
              <div class="form-query-img">
                <!-- <img src="/image/LOGO.png" alt=""> -->
              </div>
              <h1>NCVT INDIA</h1>
              <p>(National Center of Vocational Training in India)</p>
            </div>

            <div class="add-payments-inputs">
              <div class="add-payments-label-input text-center">
                <label for="">Enter Student Number</label>
                <input type="text" name="studentId" placeholder="Enter studentId Number" id="studentId" required>
              </div>
              <div class="add-payments-bttn text-center mt-4">
                <button id="cbtn">Check And Certificate Download </button> <br>
                <button id="marksheet">Check And Marksheet Download </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>




  <script>
    const studentId = document.getElementById("studentId");
    const cbtn = document.getElementById("cbtn");
    const marksheet = document.getElementById("marksheet");

    cbtn.addEventListener('click', async () => {
      const originalText = cbtn.innerText;
      cbtn.disabled = true;
      cbtn.innerText = 'Opening Certificate PDF...';
      await downloadPDF('generate_student_certificate', studentId.value);
      cbtn.innerText = originalText;
      cbtn.disabled = false;
    });

    marksheet.addEventListener('click', async () => {
      const originalText = marksheet.innerText;
      marksheet.disabled = true;
      marksheet.innerText = 'Opening Marksheet PDF...';
      await downloadPDF('generate_student_marksheet', studentId.value);
      marksheet.innerText = originalText;
      marksheet.disabled = false;
    });

    async function downloadPDF(url, studentId) {
      try {
        const response = await fetch(url, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ studentId })
        });
        console.log(response)
        if (!response.ok) {
          throw new Error('Failed to generate PDF');
        }

        const blob = await response.blob();
        const blobUrl = URL.createObjectURL(blob);

        // Open PDF in a new tab
        window.open(blobUrl, '_blank');

        // Optional: cleanup
        setTimeout(() => URL.revokeObjectURL(blobUrl), 10000);
      } catch (error) {
        alert("Something went wrong... Please try again later");
      }
    }
  </script>


  </script>
  <%- include("../../components/footer") %>