<%- include("../../components/header") %>
 
<section class="franchisee-head">
     <div class="container">
           <div class="row">
              <div class="col-12">
                   <div class="franchisee-heading-logo d-flex align-items-center justify-content-between">
                    <p ><b>Get Authorised Study Center</b></p>
                    <img src="/image/DATA/logo_fr.png" alt="">
                   </div>
              </div>
           </div>
     </div>
</section>
<section class=" franchisee-section pb-5">
     <div class="container">
            <div class="row">
                 <div class="col-md-12 col-lg-6 mt-5">
                            <div class="franchisee-box d-flex flex-column">
                                <div class=" bal-vatika-head">
                                    <p>Bal Vatika Franchisee</p>
                                </div>
                                <div id="bal-vatika-sub1">
                                    <p class="bvsub1" align="Center">Eligibility Criteria :</p>
                                  
                                </div>
                                 <div class=" franchisee-criteria mt-3 mb-5">
                                    <ul type="disc mb-5">
                                        <li>Minimum 1000 Sq Ft of space.
                                        </li>
                                        <li>NOC from Local Municipal Authority.
                                        </li>
                                        <li>Upto 5 Lacs of Investment.
                                        </li>
                                        <li>Passion to Nurture Young Minds.
                                        
                                        </li>
                                    </ul>
                                 </div>
                                 <div id="bal-vatika-sub1">
                                    <p class="bvsub1" align="Center">You get Support :</p>
                                  
                                </div>
                                 <div class=" franchisee-criteria mt-3">
                                    <ul type="disc">
                                        <li>Child-led Curriculum.
                                        </li><li>Centre Launch &amp; Induction.
                                        </li><li>Comprehensive Training Program.
                                        </li><li>Free School Management Softwaare.
                                        </li><li>Marketing Support.
                                        </li></ul>
                                 </div>
                                  <div class=" bvl-fee">
                                       <p>One time Franchisee Fee 12000/-</p>
                                  </div>
                                  <div class=" franchisee-bttn m-auto mb-3 mt-4">
                                        <a href="franchse-form?application=vatika">Submit Request</a>
                                  </div>
                                  <div class=" franchisee-images mt-4">
                                    <img src="/image/DATA/BANNER_4.png" alt="">
                                  </div>
                            </div>
                 </div>
                 <div class="col-md-12 col-lg-6 mt-5">
                    <div class="franchisee-box d-flex flex-column">
                        <div class=" ntt-head ">
                            <p>N.T.T Center Franchisee</p>
                        </div>
                        <div id="bal-vatika-sub2">
                            <p class="bvsub1" align="Center">Eligibility Criteria :</p>
                          
                        </div>
                         <div class=" franchisee-criteria mt-3">
                            <ul type="disc">
                                <li>Minimum 300 Sq Ft Theory Classroom.
                                </li>
                                <li>Computer Lab with minimum 10 PC.
                                </li>
                                <li>1 Waiting room.
                                </li>
                                <li>1 Office room.
                                </li>
                                <li>Parkimg area.
                                </li>
                                <li>Upto 2 Lacs of Investment.
                                </li></ul>
                         </div>
                         <div id="bal-vatika-sub2">
                            <p class="bvsub1" align="Center">You get Support :</p>
                          
                        </div>
                         <div class=" franchisee-criteria mt-3">
                            <ul type="disc">
                                <li>Branch Authorization Certificate.
                                </li>
                                <li>Branch Login Portal.
                                </li>
                                <li>Student Login Portal.
                                </li>
                                <li>Free Study Material.
                                </li>
                                <li>Marketing Support.
                                </li>
                            </ul>
                         </div>
                          <div class=" ntt-fee">
                               <p>One time Franchisee Fee 8000/-</p>
                          </div>
                          <div class=" franchisee-ntt-bttn m-auto mt-4">
                                <a href="franchse-form?application=ntt">Submit Request</a>
                          </div>
                          <div class=" franchisee-images mt-4">
                            <img src="/image/DATA/BANNER_3.png" alt="">
                          </div>
                    </div>
         </div>
            </div>
     </div>
</section>

<section class=" for-inquery">
             <div class="container">
                 <div class="row">
                     <div class="col-12 text-center">
                         <p> For more details or Inquiry </p>
                         <p>Contact Us</p>
                         <p>Email: helpbecce@gmail.com</p>
                         <p>Mob: 9942595536 (Mon-Fri 10:00 AM to 04:00 PM)</p>
                     </div>
                 </div>
             </div>
</section>








<%- include("../../components/footer") %>