<%- include("../../components/header") %>


<section class=" about-us-hero">
      <div class="container">
            <div class="row">
                 <div class="col-12"> 
                         <div class=" hero_heading text-center">
                           <h2>Career </h2>
                            <h3>Grow with Bihar Early Childhood Care & Education</h3>
                         </div>
                 </div>
            </div>
      </div>
</section>

<section class=" about-us-page-content pt-5 pb-5">
       <div class="container">
            <div class="row">
                 <div class="col-12">
                         <p><b>B.E.C.C.E</b> employes aspirants in the field of school Education & Management according to their education qualification, training & experience.</p>
                         <p>A career with <b>B.E.C.C.E</b> gives opportunity to aspirants to demonstrate your passion for working with children, your relevant skills, and your ability to create a positive learning environment</p>

                         <h4>Use of Career Services</h3>
                             
                         <ul type="disc">
                            <li><b>Eligibility</b> You must be at least 18 years old to use our Career Services. By using the Services, you represent and warrant that you meet this eligibility requirement.</p>
                          </ul> 

                         <h4>Account Registration</h3>
                             
                         <ul type="disc">
				<li>To access certain Career features of our Services, you may need to create an account. You agree to provide accurate, complete, and current information when registering.
				<li>You are responsible for maintaining the confidentiality of your account credentials and for all activities under your account.
				<li>We reserve the right to suspend or terminate your account if we suspect any unauthorized use or violation of these Terms.
			</ul>
			<h4>Payments and Fees</h3>
                             
                         <ul type="disc">
				<li><b>Pricing</b> Some Career Services may require payment. All fees are disclosed in the notice  and are subject to change with prior notice.
				<li><b>Refund Policy</b> Refunds, if applicable, are subject to our Refund Policy or as required by law.
				<li><b>Payment Information</b> You agree to provide valid payment information and authorize us to charge the applicable fees to your payment method.

                 
                           </div>
                           <p ><b>Contact Us</b></p>
                              <p>If you have any questions or require further assistance regarding Career/Recruitment, please contact us at:</p>
                              <p class=" pt-4"><b>Communication Hour 10:00 AM to 04:00 PM Mon-Fri.</b></p>
                              <p><b>Bihar Early Childhood Care & Education (BECCE)</b></p>
                              <p><b>Address :</b></p>
                              <p>BECCE building First Floor,
                    		  patel path,Bailey Road,
                   		  Patna,
                   		  800014</p>
                              <p><b>Email Address :</b></p>
                              <p> <i class="bi bi-envelope-at-fill me-3"></i> helpbecce@gmail.com</p>
                              <p><b>Phone Number :</b></p>
                              <p><i class="bi bi-telephone-fill me-3"></i>  9942595536</p>
                        
                        </div>
            </div>
       </div>
</section>

<%- include("../../components/footer") %>