<%- include("../../components/header") %>


<section class=" about-us-hero">
      <div class="container">
            <div class="row">
                 <div class="col-12"> 
                         <div class=" hero_heading text-center">
                           <h4>Copyright Policy</h4>
                            <h1>Bihar Early Childhood Care & Education (BECCE)</h1>
                         </div>
                 </div>
            </div>
      </div>
</section>

<section class=" about-us-page-content pt-5 pb-5">
       <div class="container">
            <div class="row">
                 <div class="col-12">
                         <p><b>Copyright Warning:</b> Restriction on Personal Use of  Provided Materials by <b>B.E.C.C.E.</b></p>
                          
                         <div class=" ps-3">
                            <p>1. <b>Restricted Use:</b> The materials, documents, and resources shared within branch are for official use only.</p>
                            <p>2. <b>Prohibition on Personal Use:</b> Under no circumstances should these materials be copied, distributed, or utilized for personal purposes without explicit authorization.</p>
                            <p>3. <b>Copyright Protection:</b> All the materials are protected by copyright law. Unauthorized use may result in legal consequences and disciplinary action in accordance with company policies and applicable laws.</p>
                         </div>
                           <p>We request all team members to comply strictly with these guidelines to ensure we uphold intellectual property rights and maintain professional standards.<p>
			   <p>If you have any questions regarding the permissible use of materials, please contact [appropriate contact person/department].</p>
                         </div>
                           <p ><b>Contact Us</b></p>
                              <p>If you have any questions or require further assistance regarding this copyright Policy, please contact us at:</p>
                             <p class=" pt-4"><b>Communication Hour 10:00 AM to 04:00 PM Mon-Fri.</b></p>
                              <p><b>Bihar Early Childhood Care & Education (BECCE)</b></p>
                              <p><b>Address :</b></p>
                              <p>BECCE First Floor,
                    		  Bailey Road,
                   		  Patna,
                   		  800014</p>
                              <p><b>Email Address :</b></p>
                              <p> <i class="bi bi-envelope-at-fill me-3"></i> helpbecce@gmail.com</p>
                              <p><b>Phone Number :</b></p>
                              <p><i class="bi bi-telephone-fill me-3"></i>  9942595536</p>
                        
                        
                        </div>
            </div>
       </div>
</section>

<%- include("../../components/footer") %>