<%- include("../../components/header") %>


<section class=" about-us-hero">
      <div class="container">
            <div class="row">
                 <div class="col-12"> 
                         <div class=" hero_heading text-center">
                           <h3>Frequently Ask Question</h3>
                            <h1>Bihar Early Childhood Care & Education (BECCE)</h1>
                         </div>
                 </div>
            </div>
      </div>
</section>

<section class=" about-us-page-content pt-5 pb-5">
       <div class="container">
            <div class="row">
                 <div class="col-12">

	<p><font color="red"><b> Question.</b></font>	What is <b>Bal Vatika?</b><br>
	<font color="green"><b>Answer.</font></b>	bal vatika is a kindergarten play school running under the guidance of Bihar Early Childhood Care & Education via its authorized franchise partner.
	<p><font color="red"><b> Question.</b></font>	What is E.C.C.E Course?<br>
	<font color="green"><b>Answer.</font></b>	E.C.C.E full form is Early Childhood Care And Education (ECCE), as defined by UNESCO, is the "holistic development of a child's social, emotional, cognitive and physical needs in order to build a solid and broad foundation for lifelong learning and wellbeing." ECCE promotes brain development and has positive long-term economic benefits.
	<p><font color="red"><b> Question.</b></font>	What is N.T.T Course?<br>
	<font color="green"><b>Answer.</font></b>	N.T.T full form is Nursery Teaching Training. N.T.T course is a 1-2 year specialized diploma program to train aspiring nursery-level or preschool teachers. N.T.T course is designed in a way that it focuses on different aspects of childcare. NTT Diploma syllabus includes different topics related to early childhood care and education including child psychology, pedagogical skills, classroom management, and curriculum planning. 
	<p><font color="red"><b> Question.</b></font>	Difference between E.C.C.E & N.T.T ?<br>
	<font color="green"><b>Answer.</font></b>	E.C.C.E is a child development program to build a child's social, emotional, cognitive and physical needs in play school or kindergarten while N.T.T program is to train aspiring  nursery  teacher who can join and work for bal vatika or any play school in govt. or private sector.
	<p><font color="red"><b> Question.</b></font>	What is the role of Bihar Early Childhood Care & Education in E.C.C.E & N.T.T ?<br>
	<font color="green"><b>Answer.</font></b>	we establishing the Bal Vatika center at rural level through our franchise partner to open bal vatika center where Balvatika is a three year preschool education program that prepares children for class 1. The program focuses on developing cognitive and linguistic skills, as well as number sense.
							While N.T.T is training program provided to aspirants of Bal Vatika play school to become a teacher in play primary bal vatika school/centers.
							This training provides at our authorized branch.
	<p><font color="red"><b> Question.</b></font>	How to get Franchise for Bal-Vatika or  N.T.T Center ?<br>
	<font color="green"><b>Answer.</font></b>	To become our franchise partner and open Bal-Vatika center or N.T.T Training Center, there are few compulsory eligibility criteria which are mention on Apply for Study Center page.

                                                   </div>
                           <p ><b>Contact Us</b></p>
                              <p>If you have any questions or require further assistance regarding this FAQ'S Policy, please contact us at:</p>
                            <p class=" pt-4"><b>Communication Hour 10:00 AM to 04:00 PM Mon-Fri.</b></p>
                              <p><b>Bihar Early Childhood Care & Education (BECCE)</b></p>
                              <p><b>Address :</b></p>
                              <p>BECCE First Floor,
                    		  Bailey Road,
                   		  Patna,
                   		  800014</p>
                              <p><b>Email Address :</b></p>
                              <p> <i class="bi bi-envelope-at-fill me-3"></i> helpbecce@gmail.com</p>
                              <p><b>Phone Number :</b></p>
                              <p><i class="bi bi-telephone-fill me-3"></i>  9942595536</p>
                        
                        
                        </div>
            </div>
       </div>
</section>

<%- include("../../components/footer") %>