<%- include("../../components/header") %>


<section class=" about-us-hero">
      <div class="container">
            <div class="row">
                 <div class="col-12"> 
                         <div class=" hero_heading text-center">
                           <h4>Franchisee Portal For Bal-Vatika/N.T.T Center</h4>
                            <h1>Bihar Early Childhood Care & Education (BECCE)</h1>
                         </div>
                 </div>
            </div>
      </div>
</section>

<section class=" about-us-page-content pt-5 pb-5">
       <div class="container">
            <div class="row">
                 <div class="col-12">
<h3>Franchisee portal is now open for Block Level <b>Bal Vatika</b> center establishment.
<h4>Interested Institutional/School/Organisation head can contact us to get Bal-Vatika center.
<h2 align="center"><a href="https://biharecce.in/api/apply-for-franchisee"> Click here to Apply Franchise Proposal Form</a>
                                                  


</div>
 </div>
            </div>
       </div>
</section>

<%- include("../../components/footer") %>