<%- include("../../components/header") %>

 
<section class="page_title">
     <div class="container">
           <div class="row">
              <div class="col-12">
                   <div class="page_title_heading">
                             <span> PAGE TITLE</span>
                   </div>
              </div>
           </div>
     </div>
</section>
<section class="page_content pt-4 pb-4">
        <div class="container">
            <div class="row">
                 <div class="col-12 text-center">
                      <h1>PAGE CONTENT</h1>
                 </div>
            </div>
        </div>
</section>








<%- include("../../components/footer") %>