<%- include("../../components/header") %>

<section class="privacypolicy pt-5 pb-5">
    <div class="container">
         <div class="row">
              <div class="col-12">
                   <h1>Privacy Policy</h1>
                   <p>BECCE (we) values your privacy and is committed to protecting your personal information. This Privacy Policy outlines how we collect, use, disclose, and safeguard your information when you use our application, website, or services.</p>
                   <p><b>1. Information We Collect</b></p>
                   <p>We may collect the following types of information:</p>
                   <p><b><i class="bi bi-arrow-right-short"></i> Personal Information:</b></p>
                   <p><ul>
                         <li> Name, email address, phone number, and other contact details.</li>
                         <li> Payment and billing information, if applicable.</li>
                     
                        </ul>
                    </p>
                    <p><b><i class="bi bi-arrow-right-short"></i> Non-Personal Information:</b></p>
                   <p><ul>
                         <li>Browser type, device type, operating system, and app usage data.</li>
                         <li>IP address and geographic location.</li>
                     
                        </ul>
                    </p>
                    <p><b><i class="bi bi-arrow-right-short"></i> User-Generated Content:</b></p>
                   <p><ul>
                         <li> Any information you provide while using interactive features or</li>
                        </ul>
                    </p>
                    <p><b>2. How We Use Your Information</b></p>
                    <p>We use the information we collect to:</p>
                    <p>
                        <ul>
                            <li>Provide, maintain, and improve our Services.</li>
                            <li>Process transactions and send you related information, such as confirmations and invoices.</li>
                            <li>Communicate with you about updates, promotions, and important notices.</li>
                            <li>Personalize your experience on our platform.</li>
                            <li>Ensure compliance with legal obligations and enforce our terms and policies.</li>
                        </ul>
                    </p>
                    <p><b>3. Sharing of Your Information</b></p>
                    <p>We do not sell your personal information. However, we may share your information in the following circumstances:</p>
                    <p><b><i class="bi bi-arrow-right-short"></i> Service Providers:</b></p>
                    <p><ul>
                          <li> With third-party vendors, consultants, and other service providers who perform services on our behalf.</li>
                         </ul>
                     </p>
                     <p><b><i class="bi bi-arrow-right-short"></i> Legal Requirements:</b></p>
                     <p><ul>
                           <li> To comply with applicable laws, regulations, or legal processes.</li>
                          </ul>
                      </p>
                      <p><b>4. Data Security</b></p>
                      <p>We implement appropriate technical and organizational measures to protect your information from unauthorized access, use, or disclosure. However, no electronic transmission or storage method is 100% secure, and we cannot guarantee absolute security.</p>
                      <p><b>5. Third-Party Links</b></p>
                      <p>Our Services may contain links to third-party websites or services. We are not responsible for the privacy practices of these third parties. We encourage you to read their privacy policies.</p>
                      <p><b>6. Children’s Privacy</b></p>
                      <p>Our Services are not intended for individuals under the age of 13. We do not knowingly collect personal information from children under 13. If we become aware that we have collected such information, we will take steps to delete it promptly.</p>
                      <p><b>7. Contact Us</b></p>
                      <p>If you have any questions or concerns about this Privacy Policy or our practices, please contact us at:</p>
                      <p><b>Address :</b></p>
                      <p class=" pt-4"><b>Communication Hour 10:00 AM to 04:00 PM Mon-Fri.</b></p>
                              <p><b>Bihar Early Childhood Care & Education (BECCE)</b></p>
                              <p><b>Address :</b></p>
                              <p>BECCE First Floor,
                    		  Bailey Road,
                   		  Patna,
                   		  800014</p>
                              <p><b>Email Address :</b></p>
                              <p> <i class="bi bi-envelope-at-fill me-3"></i> helpbecce@gmail.com</p>
                              <p><b>Phone Number :</b></p>
                              <p><i class="bi bi-telephone-fill me-3"></i>  9942595536</p>
                        
              </div>

         </div>
    </div>
</section>







<%- include("../../components/footer") %>