<%- include("../../components/header") %>


<section class=" about-us-hero">
      <div class="container">
            <div class="row">
                 <div class="col-12"> 
                         <div class=" hero_heading text-center">
                           <h4>Right To Education</h4>
                            <h1>Bihar Early Childhood Care & Education (BECCE)</h1>
                         </div>
                 </div>
            </div>
      </div>
</section>

<section class=" about-us-page-content pt-5 pb-5">
       <div class="container">
            <div class="row">
                 <div class="col-12">
			<h2>Overview</h2>
                         <p>The Constitution (Eighty-sixth Amendment) Act, 2002 inserted Article 21-A in the Constitution of India to provide free and compulsory education of all children in the age group of six to fourteen years as a Fundamental Right in such a manner as the State may, by law, determine. The Right of Children to Free and Compulsory Education (RTE) Act, 2009, which represents the consequential legislation envisaged under Article 21-A, means that every child has a right to full time elementary education of satisfactory and equitable quality in a formal school which satisfies certain essential norms and standards.
The RTE Act provides for the:
Right of children to free and compulsory education till completion of elementary education in a neighbourhood school.
It clarifies that 'compulsory education' means obligation of the appropriate government to provide free elementary education and ensure compulsory admission, attendance and completion of elementary education to every child in the six to fourteen age group. 'Free' means that no child shall be liable to pay any kind of fee or charges or expenses which may prevent him or her from pursuing and completing elementary education.
It makes provisions for a non-admitted child to be admitted to an age appropriate class.
It specifies the duties and responsibilities of appropriate Governments, local authority and parents in providing free and compulsory education, and sharing of financial and other responsibilities between the Central and State Governments.
It lays down the norms and standards relating inter alia to Pupil Teacher Ratios (PTRs), buildings and infrastructure, school-working days, teacher-working hours.
It provides for appointment of appropriately trained teachers, i.e. teachers with the requisite entry and academic qualifications.
It prohibits (a) physical punishment and mental harassment; (b) screening procedures for admission of children; (c) capitation fee; (d) private tuition by teachers and (e) running of schools without recognition,
It provides for development of curriculum in consonance with the values enshrined in the Constitution, and which would ensure the all-round development of the child, building on the child's knowledge, potentiality and talent and making the child free of fear, trauma and anxiety through a system of child friendly and child centered learning.


                           </div>
                           <p ><b>Contact Us</b></p>
                              <p>If you have any questions or require further assistance, please contact us at:</p>
                             <p class=" pt-4"><b>Communication Hour 10:00 AM to 04:00 PM Mon-Fri.</b></p>
                              <p><b>Bihar Early Childhood Care & Education (BECCE)</b></p>
                              <p><b>Address :</b></p>
                              <p>BECCE First Floor,
                    		  Bailey Road,
                   		  Patna,
                   		  800014</p>
                              <p><b>Email Address :</b></p>
                              <p> <i class="bi bi-envelope-at-fill me-3"></i> helpbecce@gmail.com</p>
                              <p><b>Phone Number :</b></p>
                              <p><i class="bi bi-telephone-fill me-3"></i>  9942595536</p>
                        
                        
                        </div>
            </div>
       </div>
</section>

<%- include("../../components/footer") %>