<%- include("../../components/header") %>


<section class=" terms-conditions pt-5 pb-5">
     <div class="container">
         <div class="row">
             <div class="col-12">
                <h1>Terms And Condition</h1>
                <p>Welcome to BECCE (we). By accessing or using our application, website, or services, you agree to comply with and be bound by the following terms and conditions. If you do not agree with these Terms, please do not use our Services.</p>
		
		 <p><b>1. Bihar Early Childhood Care & Education working simultaneously two parts of E.C.C.E </b></p>
                 <p>1.1.  <b>Bal-Vatika:</b> Balvatika is a play-based program that helps children learn through exploration and discovery. Balvatika is a great way to prepare child for class 1. The program is fun and engaging, and it helps children develop the skills they need to succeed in school.</p> 
                 <p>1.2.  <b>N.T.T :</b> Nursery teacher Training program is providing to aspirants of teacher for Pre-Primary, Bal Vatika, Kindergarten, Play school.                 </p>
                
		 <p><b>2. Terms & Condition apply For Bal Vatika Center.</b></p>
		 <p><i>	  License We grant you a non-exclusive, non-transferable, revocable license to access and use our Bal-Vatika Services for Society Development or business purposes, subject to these Terms.</i></p>
                 <ul type="disc">
			<li>Every child enrollment in bal vatika center at our franchise center at block wise are free for whose parents income is below than 72000/ P.A according to Income certificate produced by Central or state govt.
			<li>Children whose parents income is equal or greater than 72000/P.A will have to pay fee structure online/offline according to </b>B.E.C.C.E</b> at Bal Vatika Center to get enrolled at Bal-Vatika.
                	<li>B.E.C.C.E  will provide faculty Teacher at authorized Bal Vatika Center to teach the child.
			<li>License We grant you a non-exclusive, non-transferable, revocable license to access and use our Services for personal or business purposes, subject to these Terms.
			<li>Every child enrollment in bal vatika center at our franchise center at block wise are free for whose parents income is below than 72000/ P.A according to Income certificate produced by Central or state govt.
 			</ul>
		<p><b>3. Terms & Condition apply For N.T.T  Center.</b></p>
		<ul type="disc">
		<li> N.T.T course will be provided at authorized Study Center of B.E.C.C.E where interested aspirants can join their by paying Fee Structure according to B.E.C.C.E.
                 <li> Authorized Study Center will have to Pay Royality Fee to B.E.C.C.E after collecting fee from Aspirants.
		<li> Aspirants Admission will not consider valid until royalty Fee not paid to B.E.C.C.E.
		<li> B.E.C.C.E provide Teacher to take class of the aspirants who get admitted in N.T.T Program.
		<li> B.E.C.C.E provide admission kit (Bag, Books, Notebook, I.card, student login panel)to every aspirants who get enrolled in N.T.T Course
		<li> After Successfully completed the course Aspirants will get the Degree from B.E.C.C.E which can be used to get jobs in any Govt or Public-Private per-Primary School, Bal Vatika etc.
		</ul>
                <p><b>4. Intellectual Property</b></p>
                <p>4.1. All content, trademarks, logos, and other intellectual property associated with the Services are owned by BECCE or its licensors. You agree not to use, reproduce, or distribute any content without prior written permission.</p>
                <p><b>5. Contact Us</b></p>
                <p>If you have any questions or concerns about these Terms, please contact us at:</p>
                
                <p class=" pt-4"><b>Communication Hour 10:00 AM to 04:00 PM Mon-Fri.</b></p>
                              <p><b>Bihar Early Childhood Care & Education (BECCE)</b></p>
                              <p><b>Address :</b></p>
                              <p>BECCE Building First Floor,
				<br>
                    		 Patel path Bailey Road
				<br>
                   		  Patna,
                   		  800014</p>
                              <p><b>Email Address :</b></p>
                              <p> <i class="bi bi-envelope-at-fill me-3"></i> helpbecce@gmail.com</p>
                              <p><b>Phone Number :</b></p>
                              <p><i class="bi bi-telephone-fill me-3"></i>  9942595536</p>
                        
                
                </div>
         </div>
     </div>
</section>





<%- include("../../components/footer") %>