<%- include("../../components/header") %>


<section class=" about-us-hero">
      <div class="container">
            <div class="row">
                 <div class="col-12"> 
                         <div class=" hero_heading text-center">
                           <h4>About Us</h4>
                            <h1>Bihar Early Childhood Care & Education (BECCE)</h1>
                         </div>
                 </div>
            </div>
      </div>
</section>

<section class=" about-us-page-content pt-5 pb-5">
       <div class="container">
            <div class="row">
                 <div class="col-12">
                         <p>Bihar Early Childhood Care & Education (ECCE) is a pivotal initiative aimed at providing young children with a strong foundation for their lifelong learning and development. Focused on children aged 0-6 years, the program emphasizes holistic growth, including physical, cognitive, social, emotional, and language development. It aligns with the principles of the National Education Policy (NEP) and acknowledges the critical importance of the early years in shaping a child's future.</p>
                         <p>Bihar ECCE operates under the belief that early intervention and access to quality education are instrumental in reducing learning gaps and fostering equitable opportunities for all children. Through its initiatives, the program works to enhance school readiness and improve foundational learning outcomes.</p>

                         <h3>Key Objectives:</h3>
                             
                         <div class=" ps-3">
                            <p>1. <b>Holistic Development: </b> To nurture every child's potential by providing a stimulating and safe learning environment.</p>
                            <p>2. <b>Quality Education:</b> To ensure access to age-appropriate, play-based, and culturally relevant learning materials.</p>
                            <p>3. <b>Teacher Training:</b> To empower Anganwadi workers, teachers, and caregivers with the skills to deliver quality early education.</p>
                            <p>4. <b>Community Involvement:</b> To engage parents and communities in understanding the importance of early education and building supportive ecosystems for children.</p>
                            <p>5. <b>Health and Nutrition:</b> To integrate health, nutrition, and education interventions to support children’s overall well-being.</p>
                            
                         </div>
                           <h3>Major Features of Bihar ECCE:</h3>
                           <div class=" ps-3">
                            <p><b>. Anganwadi Centers:</b> Anganwadi centers serve as the core facilities for delivering early childhood care and education across rural and urban areas of Bihar.</p>
                            <p> <b>. Curriculum:</b> A well-designed, child-centric curriculum that incorporates play-based learning, storytelling, and hands-on activities to foster creativity and curiosity.</p>
                            <p> <b>. Inclusion:</b> Ensures equitable access to quality education for children from marginalized communities and differently-abled children.</p>
                            <p> <b> . Monitoring & Evaluation: </b> Regular assessments to track the learning progress of children and enhance the effectiveness of the program.</p>
                            <p>By investing in Early Childhood Care & Education, Bihar aims to transform the early learning landscape, empowering its youngest citizens to lead healthier, happier, and more productive lives.</p>
                 
                           </div>
                           <p ><b>Contact Us</b></p>
                              <p>If you have any questions or require further assistance regarding this Return Policy, please contact us at:</p>
                             <p class=" pt-4"><b>Communication Hour 10:00 AM to 04:00 PM Mon-Fri.</b></p>
                              <p><b>Bihar Early Childhood Care & Education (BECCE)</b></p>
                              <p><b>Address :</b></p>
                              <p>BECCE First Floor,
                    		  Bailey Road,
                   		  Patna,
                   		  800014</p>
                              <p><b>Email Address :</b></p>
                              <p> <i class="bi bi-envelope-at-fill me-3"></i> helpbecce@gmail.com</p>
                              <p><b>Phone Number :</b></p>
                              <p><i class="bi bi-telephone-fill me-3"></i>  9942595536</p>
                        
                        
                        </div>
            </div>
       </div>
</section>

<%- include("../../components/footer") %>