<%- include("../../components/header") %>

  <section class="ncvt-login-section">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <div class="new-admission-box">
            <p><a href="add-branch">ADD NEW BRANCH</a></p>
          </div>
        </div>
        <div class="col-3">
          <div class="new-admission-box">
            <p><a href="view-all-branches">VIEW All BRANCHES</a></p>
          </div>
        </div>
        <div class="col-3">
          <div class="new-admission-box">
            <p><a href="view-associate-transications">VIEW TRANSICATION </a></p>
          </div>
        </div>

      </div>
    </div>



  </section>




  <%- include("../../components/footer") %>